Connected Services/ServiceReference1/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PROJETBAYE2018.Modeltest" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PROJETBAYE2018.Modeltest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFilm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Film" nillable="true" type="tns:Film" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilm" nillable="true" type="tns:ArrayOfFilm" />
  <xs:complexType name="Film">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Film_ID" type="xs:int" />
      <xs:element minOccurs="0" name="LanguageID" type="xs:int" />
      <xs:element minOccurs="0" name="Lenght" type="xs:int" />
      <xs:element minOccurs="0" name="Original_Language_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Release_year" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rental_duration" type="xs:int" />
      <xs:element minOccurs="0" name="Rental_rate" type="xs:decimal" />
      <xs:element minOccurs="0" name="Replacement_cost" type="xs:decimal" />
      <xs:element minOccurs="0" name="Special_features" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Film" nillable="true" type="tns:Film" />
</xs:schema>