Connected Services/ServiceReference2/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PROJETBAYE2018.Modeltest" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PROJETBAYE2018.Modeltest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Film">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Film_ID" type="xs:int" />
      <xs:element minOccurs="0" name="LanguageID" type="xs:int" />
      <xs:element minOccurs="0" name="Lenght" type="xs:int" />
      <xs:element minOccurs="0" name="Original_Language_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Release_year" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rental_duration" type="xs:int" />
      <xs:element minOccurs="0" name="Rental_rate" type="xs:decimal" />
      <xs:element minOccurs="0" name="Replacement_cost" type="xs:decimal" />
      <xs:element minOccurs="0" name="Special_features" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Film" nillable="true" type="tns:Film" />
  <xs:complexType name="Film_Actor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actor_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Film_ActorID" type="xs:int" />
      <xs:element minOccurs="0" name="Film_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Film_Actor" nillable="true" type="tns:Film_Actor" />
  <xs:complexType name="Film_Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Film_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Film_Category" nillable="true" type="tns:Film_Category" />
  <xs:complexType name="ArrayOfFilm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Film" nillable="true" type="tns:Film" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilm" nillable="true" type="tns:ArrayOfFilm" />
  <xs:complexType name="ArrayOfLanguage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Language" nillable="true" type="tns:Language" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLanguage" nillable="true" type="tns:ArrayOfLanguage" />
  <xs:complexType name="Language">
    <xs:sequence>
      <xs:element minOccurs="0" name="Films" nillable="true" type="tns:ArrayOfFilm" />
      <xs:element minOccurs="0" name="LanguageID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OFilms" nillable="true" type="tns:ArrayOfFilm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Language" nillable="true" type="tns:Language" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="Film_Categories" nillable="true" type="tns:ArrayOfFilm_Category" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfFilm_Category">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Film_Category" nillable="true" type="tns:Film_Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilm_Category" nillable="true" type="tns:ArrayOfFilm_Category" />
  <xs:complexType name="ArrayOfActor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Actor" nillable="true" type="tns:Actor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActor" nillable="true" type="tns:ArrayOfActor" />
  <xs:complexType name="Actor">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActorID" type="xs:int" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Actor" nillable="true" type="tns:Actor" />
</xs:schema>