Connected Services/ServiceReference2/ThiouneService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ThiouneService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ProjetBaye_Sakila/ThiouneService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ProjetBaye_Sakila/ThiouneService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ProjetBaye_Sakila/ThiouneService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PROJETBAYE2018.Modeltest" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IThiouneService_Ajouterfilm_InputMessage">
    <wsdl:part name="parameters" element="tns:Ajouterfilm" />
  </wsdl:message>
  <wsdl:message name="IThiouneService_Ajouterfilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:AjouterfilmResponse" />
  </wsdl:message>
  <wsdl:message name="IThiouneService_ajouterfilm_actor_InputMessage">
    <wsdl:part name="parameters" element="tns:ajouterfilm_actor" />
  </wsdl:message>
  <wsdl:message name="IThiouneService_ajouterfilm_actor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ajouterfilm_actorResponse" />
  </wsdl:message>
  <wsdl:message name="IThiouneService_ajouterfilm_categories_InputMessage">
    <wsdl:part name="parameters" element="tns:ajouterfilm_categories" />
  </wsdl:message>
  <wsdl:message name="IThiouneService_ajouterfilm_categories_OutputMessage">
    <wsdl:part name="parameters" element="tns:ajouterfilm_categoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IThiouneService_Film_Par_Categorie1_InputMessage">
    <wsdl:part name="parameters" element="tns:Film_Par_Categorie1" />
  </wsdl:message>
  <wsdl:message name="IThiouneService_Film_Par_Categorie1_OutputMessage">
    <wsdl:part name="parameters" element="tns:Film_Par_Categorie1Response" />
  </wsdl:message>
  <wsdl:message name="IThiouneService_Film_Par_Categorie2_InputMessage">
    <wsdl:part name="parameters" element="tns:Film_Par_Categorie2" />
  </wsdl:message>
  <wsdl:message name="IThiouneService_Film_Par_Categorie2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Film_Par_Categorie2Response" />
  </wsdl:message>
  <wsdl:message name="IThiouneService_Film_Par_Acteur_InputMessage">
    <wsdl:part name="parameters" element="tns:Film_Par_Acteur" />
  </wsdl:message>
  <wsdl:message name="IThiouneService_Film_Par_Acteur_OutputMessage">
    <wsdl:part name="parameters" element="tns:Film_Par_ActeurResponse" />
  </wsdl:message>
  <wsdl:message name="IThiouneService_Film_Par_Langue_InputMessage">
    <wsdl:part name="parameters" element="tns:Film_Par_Langue" />
  </wsdl:message>
  <wsdl:message name="IThiouneService_Film_Par_Langue_OutputMessage">
    <wsdl:part name="parameters" element="tns:Film_Par_LangueResponse" />
  </wsdl:message>
  <wsdl:portType name="IThiouneService">
    <wsdl:operation name="Ajouterfilm">
      <wsdl:input wsaw:Action="http://tempuri.org/IThiouneService/Ajouterfilm" message="tns:IThiouneService_Ajouterfilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IThiouneService/AjouterfilmResponse" message="tns:IThiouneService_Ajouterfilm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ajouterfilm_actor">
      <wsdl:input wsaw:Action="http://tempuri.org/IThiouneService/ajouterfilm_actor" message="tns:IThiouneService_ajouterfilm_actor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IThiouneService/ajouterfilm_actorResponse" message="tns:IThiouneService_ajouterfilm_actor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ajouterfilm_categories">
      <wsdl:input wsaw:Action="http://tempuri.org/IThiouneService/ajouterfilm_categories" message="tns:IThiouneService_ajouterfilm_categories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IThiouneService/ajouterfilm_categoriesResponse" message="tns:IThiouneService_ajouterfilm_categories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Film_Par_Categorie1">
      <wsdl:input wsaw:Action="http://tempuri.org/IThiouneService/Film_Par_Categorie1" message="tns:IThiouneService_Film_Par_Categorie1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IThiouneService/Film_Par_Categorie1Response" message="tns:IThiouneService_Film_Par_Categorie1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Film_Par_Categorie2">
      <wsdl:input wsaw:Action="http://tempuri.org/IThiouneService/Film_Par_Categorie2" message="tns:IThiouneService_Film_Par_Categorie2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IThiouneService/Film_Par_Categorie2Response" message="tns:IThiouneService_Film_Par_Categorie2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Film_Par_Acteur">
      <wsdl:input wsaw:Action="http://tempuri.org/IThiouneService/Film_Par_Acteur" message="tns:IThiouneService_Film_Par_Acteur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IThiouneService/Film_Par_ActeurResponse" message="tns:IThiouneService_Film_Par_Acteur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Film_Par_Langue">
      <wsdl:input wsaw:Action="http://tempuri.org/IThiouneService/Film_Par_Langue" message="tns:IThiouneService_Film_Par_Langue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IThiouneService/Film_Par_LangueResponse" message="tns:IThiouneService_Film_Par_Langue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IThiouneService" type="tns:IThiouneService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ajouterfilm">
      <soap:operation soapAction="http://tempuri.org/IThiouneService/Ajouterfilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ajouterfilm_actor">
      <soap:operation soapAction="http://tempuri.org/IThiouneService/ajouterfilm_actor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ajouterfilm_categories">
      <soap:operation soapAction="http://tempuri.org/IThiouneService/ajouterfilm_categories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Film_Par_Categorie1">
      <soap:operation soapAction="http://tempuri.org/IThiouneService/Film_Par_Categorie1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Film_Par_Categorie2">
      <soap:operation soapAction="http://tempuri.org/IThiouneService/Film_Par_Categorie2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Film_Par_Acteur">
      <soap:operation soapAction="http://tempuri.org/IThiouneService/Film_Par_Acteur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Film_Par_Langue">
      <soap:operation soapAction="http://tempuri.org/IThiouneService/Film_Par_Langue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ThiouneService">
    <wsdl:port name="BasicHttpBinding_IThiouneService" binding="tns:BasicHttpBinding_IThiouneService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ProjetBaye_Sakila/ThiouneService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>